/netservice-framework/target/
/netservice-api-sample/target/
/sandbok/nbproject/private/
/sandbok/build/
/sandbok/dist/
/jaxygen-core/target/
/jaxygen-api-sample/target/
/target/
/.git-rewrite/
/jaxygen-apibrowser/target/
/jaxygen-apibrowser-style-simple/target/
/jaxygen-client/target/
/jaxygen-client-it/target/
/jaxygen-common/target/
/jaxygen-typeconverter/target/
.DS_Store
.idea/
*.iml
/jaxygent-fluenconverters/jaxygen-fluentconverters/target/
/jaxygen-core/nbproject/
/jaxygen-apigin/nbproject/
/jaxygen-annotations/target/
/jaxygen-apigin/target/
/jaxygen-frame/target/
/jaxygen-frame/nbproject/
pom.xml.versionsBackup
