/* 
    Document   : page.css
    Created on : 2012-07-24, 23:16:32
    Author     : Artur Keska
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

body {
  background-color: #f0f000
}