<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <description>Path to beans implementing service</description>
        <param-name>servicePath</param-name>
        <param-value>org.jaxygen.netserviceapisample</param-value>
    </context-param>
    <context-param>
        <description>Class names provider</description>
        <param-name>classRegistry</param-name>
        <param-value>org.jaxygen.netserviceapisample.SampleClassRegistry</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServiceInvoker</servlet-name>
        <servlet-class>org.jaxygen.invoker.ServiceInvoker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>APIBrowser</servlet-name>
        <servlet-class>org.jaxygen.apibrowser.APIBrowser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceInvoker</servlet-name>
        <url-pattern>/invoker/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>APIBrowser</servlet-name>
        <url-pattern>/APIBrowser</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
