/* 
    Document   : page.css
    Created on : 2012-07-24, 23:16:32
    Author     : Artur Keska
    Description:
        This stylesheet describes the classes snipest page.
*/

.jaxygen-classes-snipest {
    color:#302040;
    
}

table.jaxygen-classes-snipest{
   border-color:#f0f0f0;
   border-style:solid;
   border-width:1px;
   margin: auto;
   width:100%
}


.jaxygen-classes-snipest .jaxygen-row-even{
    background-color: #f4f4fa
}

.jaxygen-classes-snipest th{
    background-color: #4a3a7a;
    color:#f0f0ff
}

.jaxygen-classes-snipest td>div{
  word-break:break-all;
}

.jaxygen-classes-snipest td>div>a{
  margin:5px;
}
