/* 
    Document   : page.css
    Created on : 2012-07-24, 23:16:32
    Author     : Artur Keska
    Description:
        This stylesheet describes the main page container.
*/

root { 
    display: block;
}

body {
    background-color: white;
    alignment-baseline: central;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

div.jaxygen-page-header{
    background-color: #cedeff;
    margin: 0 auto;    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.jaxygen-page-header h2 {
    color: #1010a0;
    margin-left:auto;
    margin-right:auto;
    width:200px;    
}

div.jaxygen-page-footer{
    background-color: #aeaeff;
    height:1px;
    margin: 0 auto;    
}

pre {
    width:200px;
    color:#218B21;
}
